html {
	overflow-y: scroll;
}

body {
	background-color: #ecf0f1;
	font-family: sans-serif;
}

main {
	max-width: 800px;
	margin: 0 auto;
}

a:link {
	color: #2c3e50;
}

a:visited {
	color: #2c3e50;
}

a:hover {
	color: #2980b9;
}

.clearing {
	clear: both;
}


#nav {
	margin-top: 40px;
	float: right;
}

.nav-link {
	font-size: 20px;
	margin: 0 7px 0 7px;
	padding: 0 0 26px;

	text-decoration: none;
	display: inline-block;
	border-bottom: 0px solid transparent;  
	
	height: 25px;
}

.nav-link:hover {
	text-decoration: none;
	transition: 0.1s ease;
    border-bottom: 3px solid #403F42;
}

.active {
	border: 3px solid #403F42 !important;
	border-style: none none solid none !important;
}



h1#name, #portfolio-title, #about-title {
	margin-top: 50px;
	font-size: 55px;
	font-family: 'Raleway', sans-serif;
}

.line {
	border: 2px solid #2980b9;
	margin-top: 5px;
}

p#intro {
	margin-top: 30px;
	font-size: 17px;
	font-family: 'Source Sans Pro', sans-serif;
}

#links {
	margin-top: 30px;
}

#links a {
	display: block;
	font-size: 12px;
}


img {
	width: 200px;
}


.project {
	background-color: white;
	margin-bottom: 50px;
	padding: 10px;
	height: 160px;
}

.project-info {
	margin-left: 20px;
	height: 135px;
	width: 500px;
	display: inline-block;
	/*border: 1px solid black;*/
}

.project-img {
	float: left;
}

.project-title {
	margin-top: 0;
}

#about {
	margin-top: 30px;
	font-size: 18px;
}